{% extends 'base.html' %}
{% block title %}Formulario Cliente{% endblock %}

{% block content %}
<div class="form-wrapper">
    <div class="form-card">
        <h2 class="form-title">
            {% if view.object %}
                Editar Cliente
            {% else %}
                Nuevo Cliente
            {% endif %}
        </h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="form-actions">
                <button type="submit" class="btn btn-success">
                    Guardar
                </button>
                <a href="{% url 'cliente_list' %}" class="btn btn-secondary">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
